{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="card mb-3">
<div class="card-header">
<br>
<br>
<center>
<h1>Create Sales Order</h1>

<br>
<br>
    <div class="form-group">
    <label for="contact-form-subject"></label>
    <select class="form-control custom-select" id="contact-form-subject" name="subject" required>
      <option value="">Select client name...</option>
      <option value="web-development">DT General - HH</option>
      <option value="web-design ">Moore Electrical</option>
      <option value="graphics-design ">Johnson Electrical</option>
    </select>
  </div>

<br>
    <div class="form-group">
    <label for="contact-form-email"></label>
    <input class="form-control" type="email" name="email" placeholder="Set job reference..." required id="contact-form-email">
  </div>
<br>

</center>
</div>
<div class="card-body px-0 pt-0">
<center>
<br>
<br>
<br>


<div class="search-box">
  <form class="position-relative" data-toggle="search" data-display="static">{% csrf_token %}
    <input class="form-control search-input" id="search" name="search" type="search" placeholder="Search for products..." aria-label="search" />
    <span class="fas fa-search search-box-icon"></span>
  </form>
</div>
  <br>
  <br>

  <p id="search_results">


  </p>

<br>
<br>


<div class="table-responsive scrollbar">
  <table class="table table-hover">
    <thead>
        <tr>
          <th scope="col" style="text-align:center" class="fs--1"> Product Code</th>
          <th scope="col" style="text-align:center" class="fs--1"> Manufacturer</th>
          <th scope="col" style="text-align:center" class="fs--1"> Product Description</th>
          <th scope="col" style="text-align:center" class="fs--1"> Inventory Quantity</th>
          <th scope="col" style="text-align:center" class="fs--1"> Order Quantity</th>
          <th scope="col" style="text-align:center" class="fs--1"> Add to Order</th>
        </tr>
    </thead>

    <tbody>
      {% for product in inventory %}
      <tr class="hover-actions-trigger btn-reveal-trigger">
        <td style="text-align:center" class="fs--2">{{product.product_code__product_code}}</td>
        <td style="text-align:center" class="fs--2">{{product.product_code__manufacturer__manufacturer}}</td>
        <td style="text-align:center" class="fs--2">{{product.product_code__description}}</td>
        <td style="text-align:center" class="fs--2 text-success">{{product.total}}</td>
        <td style="text-align:center"><div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <button class="btn btn-sm btn-outline-secondary border-300 px-2" data-field="input-quantity" data-type="minus">-</button>
          </div>
          <input class="form-control text-center px-2 input-quantity input-spin-none" type="number" min="1" value="1" aria-label="Amount (to the nearest dollar)" style="max-width: 40px" />
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-secondary border-300 px-2" data-field="input-quantity" data-type="plus">+</button>
          </div>
        </div></td>
        <td class="py-2 align-middle white-space-nowrap"  style="text-align:center">
          <div class="custom-control custom-checkbox">
          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="customer-checkbox-{{product.product_code__product_code}}" />
          <label class="custom-control-label" for="customer-checkbox-{{product.product_code__product_code}}"></label>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<br><br><br><br>
<button class="btn btn-outline-success mr-1 mb-1" type="button">Complete Sales Order</button>
</center>
<br><br><br><br>
</div>
</div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>


<script src="/static/assets/js/jquery.min.js"></script>
<script>
$(function(){
    $('#search').keyup(function() {

      $.ajax({
        type: "POST",
        url: 'sales-order/search/',
        data: {
          'search_text' : $('#search').val(),
          'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
        },
        success: searchSuccess,
        dataType: 'html'
      });
    });
});

function searchSuccess(data, textStatus, jqXHR)
{
    $('#search_results').html(data);
}
</script>

{% endblock content %}