{% extends 'main.html' %}
{% block content %}


<div class="card mb-3">
<div class="card-header">
<br>
<br>
<center>
<h1>Purchase Order History</h1>
<br>
<p> This page details all of the purchase orders within the company library</p>
<br>
</center>
</div>
<div class="card-body px-0 pt-0">
<center>

<div id="dashboard-actions">
<a href="{% url 'purchase_order_form' %}"><button class="btn btn-outline-secondary mr-1 mb-1" type="button"> Create Purchase Order </button></a>
</div>

<br>
<br>



<div class="table-responsive scrollbar">
  <table class="table table-hover">

    <thead>
        <tr>
          <th scope="col" style="text-align:center" class="fs--1"> Order ID </th>
          <th scope="col" style="text-align:center" class="fs--1"> Manufacturer </th>
          <th scope="col" style="text-align:center" class="fs--1"> Total Unit Price </th>
          <th scope="col" style="text-align:center" class="fs--1"> Order Status</th>
          <th scope="col" style="text-align:center" class="fs--1"> Order Location </th>
          <th scope="col" style="text-align:center" class="fs--1"> Delete Order </th>
        </tr>
    </thead>

    <tbody>
      {% for dist in distinct_purchaseorder %}
      <tr class="hover-actions-trigger">
        <td style="text-align:center" class="fs--2"><a href="{% url 'ind_purchaseorder' dist.order_id_no %}">PO {{dist.order_id_no}}</a></td>
        <td style="text-align:center" class="fs--2">{{dist.product_code__manufacturer__manufacturer}}</td>
        <td style="text-align:center" class="fs--2">£ {{dist.total|floatformat:2}}</td>
        <td style="text-align:center" class="fs--2">{% if dist.order_id_no__order_status %} {% with a as b %} Recieved {% endwith %} {% else %} {% with bar as b %} Pending {% endwith %} {% endif %}</td>
        <td style="text-align:center" class="fs--2">{{dist.order_id_no__order_location__company_location}}</td>
        <td style="text-align:center" class="fs--2"><a href=""> Delete </a></td>
      </tr>
      {% endfor %}
    </tbody>

</table>
</div>
</center>
<br><br><br><br>
<br><br><br><br>
</div>
</div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>


{% endblock content %}


